<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" packages="com.didiglobal">

    <!--log path-->
    <Properties>
        <Property name="log-path">./logs</Property>
    </Properties>

    <!-- Appenders 定义-->
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>[%p][%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}][%F:%L][method:%M] %msg %n</pattern>
            </PatternLayout>
        </Console>

        <RollingRandomAccessFile name="BusinessLog"
                                 fileName="${log-path}/business.log"
                                 immediateFlush="true"
                                 filePattern="${log-path}/business.log.%d{yyyyMMddHH}">
            <PatternLayout>
                <pattern>[%p][%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}][%F:%L][method:%M] %msg %n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>


    </Appenders>



    <!-- Loggers definition-->

    <Loggers>

        <AsyncLogger name="com.didiglobal" level="info" includeLocation="true">
            <AppenderRef ref="business-log"/>
        </AsyncLogger>

        <Root name="com.didiglobal" level="info">
            <AppenderRef ref="BusinessLog"/>
            <AppenderRef ref="Console"/>
        </Root>


    </Loggers>
</Configuration>
